name: CI - Run Tests & Quality Checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ '11' ]

    name: Test on Java ${{ matrix.java-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: maven

      - name: Display Java version
        run: java -version

      - name: Build and run tests
        run: mvn -B clean test -Dheadless=true

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-java-${{ matrix.java-version }}
          path: target/surefire-reports/


      - name: Install Allure CLI
        if: always()
        run: |
          wget https://github.com/allure-framework/allure2/releases/latest/download/allure-2.24.0.tgz
          tar -zxvf allure-2.24.0.tgz
          sudo mv allure-2.24.0 /opt/allure
          sudo ln -s /opt/allure/bin/allure /usr/bin/allure

      - name: Generate Allure Single File Report
        if: always()
        run: |
          allure generate --single-file target/allure-results -o target/allure-report --clean

      - name: Upload Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-java-${{ matrix.java-version }}
          path: target/allure-report/
